<div class="container">
  <div class="row">
    <div class="col-md-6" *ngFor="let product of displayedProducts">
      <div class="product">
        <!-- Image section -->
        <div class="row">
          <div class="col-md-12">
            <img
              src="{{ product.image }}"
              alt="{{ product.name }}"
              width="250"
              height="150"
            />
          </div>
        </div>
        <!-- Product info section -->
        <div class="row">
          <div class="col-md-12">
            <h3>{{ product.name }}</h3>
            <p>Price: {{ product.price }}</p>
            <p>RAM: {{ product.RAM }}</p>
            <p>SSD: {{ product.SSD }}</p>
            <p>HDD: {{ product.HDD }}</p>
            <p>Screen Size: {{ product.ScreenSize }}</p>
            <p>OS: {{ product.OS }}</p>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="displayedProducts.length === 0 && filteredProducts.length === 0"
    >
      No products found.
    </div>

    <div class="text-center" *ngIf="displayedProducts.length > 0">
      <button
        type="button"
        class="btn btn-info"
        (click)="loadMore()"
        *ngIf="displayedProducts.length < filteredProducts.length"
      >
        Load More
      </button>
      <span *ngIf="displayedProducts.length === filteredProducts.length"
        >No More Data</span
      >
    </div>
  </div>
</div>
