<div class="container">
  <div class="form-container my-4 py-4">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control"
          required
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          required
        />
      </div>

      <button type="submit">Login</button>
    </form>
    <div
      *ngIf="loginForm.invalid && loginForm.touched"
      class="alert alert-danger my-3"
    >
      Please fill in both username and password fields.
    </div>
    <p>Don't have an account? <a href="#" id="signup-link">Sign up</a></p>
  </div>
</div>
