<div>
  <div class="filterContainer">
    <p class="filters">Filters</p>
    <ul style="margin-left: -2rem">
      <!-- Screen Size -->
      <li class="list" (click)="toggleScreenOptions()">
        Screen Size
        <span>
          <i class="bi bi-chevron-down"></i>
        </span>
      </li>
      <div *ngIf="showScreenOptions">
        <div
          *ngFor="let size of screenSizeOptions"
          style="margin-top: 1rem; margin-left: 0.6rem"
        >
          <input
            type="checkbox"
            name="screenSizeFilter"
            (change)="onScreenSizeChange($event)"
            [value]="size.label"
            [checked]="selectedScreenSizes.includes(size.label)"
          />
          {{ size.label }}
        </div>
      </div>
      <!-- Operating System -->
      <li class="list" (click)="toggleOS()">
        Operating System
        <span>
          <i class="bi bi-chevron-down"></i>
        </span>
      </li>
      <div *ngIf="oSOptions">
        <div
          *ngFor="let os of operatingSystemOptions"
          style="margin-top: 1rem; margin-left: 0.6rem"
        >
          <input
            type="checkbox"
            name="operatingSystemFilter"
            (change)="onOperatingSystemChange($event)"
            [value]="os.label"
            [checked]="selectedOS.includes(os.label)"
          />
          {{ os.label }}
        </div>
      </div>
      <!-- Ram Capacity -->
      <li class="list" (click)="toggleRAM()">
        Ram Capacity
        <span>
          <i class="bi bi-chevron-down"></i>
        </span>
      </li>
      <div *ngIf="RAMOptions">
        <div
          *ngFor="let ram of ramCapacityOptions"
          style="margin-top: 1rem; margin-left: 0.6rem"
        >
          <input
            type="checkbox"
            name="ramCapacityFilter"
            (change)="onRamCapacityChange($event)"
            [value]="ram.label"
            [checked]="selectedRam.includes(ram.label)"
          />
          {{ ram.label }}
        </div>
      </div>
      <li class="list" (click)="toggleSSD()">
        SSD Capacity
        <span>
          <i class="bi bi-chevron-down"></i>
        </span>
      </li>
      <div *ngIf="SSDOptions">
        <div
          *ngFor="let ssd of ssdCapacityOptions"
          style="margin-top: 1rem; margin-left: 0.6rem"
        >
          <input
            type="checkbox"
            name="ssdCapacityFilter"
            (change)="onSSDCapacityChange($event)"
            [value]="ssd.label"
            [checked]="selectedSSD.includes(ssd.label)"
          />
          {{ ssd.label }}
        </div>
      </div>
    </ul>
  </div>
</div>
